// Add your own custom styles here

mark.brushed {
    @apply relative z-0 bg-transparent;

    &::before {
        content: "";
        @apply absolute bottom-0 left-0 right-0 top-0 -z-[1] mt-[1.7rem];
        filter: invert(46%) sepia(27%) saturate(6122%) hue-rotate(221deg) brightness(173%) contrast(101%);
    }
}

.dark mark.brushed::before {
    filter: invert(46%) sepia(27%) saturate(6122%) hue-rotate(221deg) brightness(48%) contrast(101%);
}

.content :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))),
.content :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))),
.content :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))),
.content :is(:where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *))),
.content :is(:where(h5):not(:where([class~="not-prose"],[class~="not-prose"] *))),
.content :is(:where(h6):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    @apply font-secondary text-dark dark:text-darkmode-dark font-bold leading-tight;
}

.nav-link {
    @apply dark:hover:text-darkmode-light;
}